<div class="container">
  <h1>Productos Destacados</h1>

  <!-- Agregar el input de búsqueda -->
  <div class="search-container">
    <form action="/products" method="GET">
      <input type="text" name="title" id="search-input" placeholder="Buscar por título">
      <button type="submit" id="search-button">Buscar</button>
    </form>
  </div>

  <div class="row justify-content-center">
    {{#each products}}
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card">
        <a href="/products/{{_id}}">
          <img src="{{thumbnail}}" class="card-img-top product-image" alt="{{title}}">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text card-price">${{price}}</p>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="pagination">
    {{#if pag}}
      {{#if pag.hasPrevPage}}
          <a href="/products/?page={{pag.prevPage}}" class="active">Anterior</a>
      {{/if}}
      <a href="/products/?page={{pag.page}}" class="active">{{pag.page}}</a>
      {{#if pag.hasNextPage}}
        <a href="/products/?page={{pag.nextPage}}" class="active">Siguiente</a>
      {{/if}}
    {{/if}}
  </div>
</div>
