<%- include("../partials/head") %>
<body>
  <%- include("../partials/navbar") %>
  <div class="container">
    <h1 class="page-title">Carrito de Compras</h1>
    <% if (response && response.payload && response.payload.total > 0) { %>
      <div class="cart-list">
        <% response.payload.products.forEach((product) => { %>
          <% console.log('product: ', product) %>
          <div class="product-card">
            <% if (product.productId?.thumbnail !== undefined) { %>
              <img src="<%= product.productId.thumbnail %>" class="product-image" alt="<%= product.productId.title %>">
            <% } else { %>
              <img src="/public/img/botella_vino.webp" class="product-image" alt="<%= product.productId.title %>">
            <% } %>
            <div class="product-details">
              <h2 class="product-title"><%= product.productId?.title %></h2>
              <p class="product-price">$<%= product.productId?.price %></p>
            </div>
            <div class="product-actions">
              <div class="quantity-input">
                <input type="number" value="<%= product.quantity %>" min="1" step="1" data-product-id="<%= product.productId._id %>">
              </div>
              <button class="updateBtn" data-product-id="<%= product.productId._id %>" onclick="updateQuantity('<%= product.productId._id %>')">Update</button>
              <button class="deleteBtn" data-product-id="<%= product.productId._id %>" onclick="deleteProduct('<%= product.productId._id %>')"><span>X</span></button>
            </div>
          </div>
        <% }); %>
      </div>
      <div class="total-container">
        <p class="subtotal">Subtotal: $<%= response.payload.total %></p>
        <p class="total">Total: $<%= response.payload.total %></p>
      </div>
      <div class="checkout-button-container">
        <button class="checkout-button" onclick="checkout()">Finalizar Compra</button>
      </div>
    <% } else { %>
      <p class="empty-cart-message">No products in the cart.</p>
      <div class="back-button-container">
        <a class="back-button" href="javascript:history.back()">Volver atrás</a>
      </div>
    <% } %>
  </div>
  <%- include("../partials/footer") %>
</body>
</html>
